<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- The application ID from your app registration -->
    <add key="appId" value="9c2d88fd-66d7-4115-b7a6-1fc60371d77b" />
    <!-- The tenant ID copied from your app registration -->
    <add key="tenantId" value="8a91349d-6169-4e6a-9a2b-caad5be3c848"/>
    <!-- The application's client secret from your app registration. Needed for application permission access -->
    <add key="clientSecret" value="dii8Q~NInLJDutt1154TxPGKVDgjWD51WXwAMaIw"/>
  </appSettings>
</configuration>

